header{
  
}

.header {
  overflow: hidden;
  /*background-color: #f1f1f1;*/
  padding: 10px 10px;
}

header img{
  width: 25px;
  height: 25px;
  float: left;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.header-right a:hover {
  color: dodgerblue;
  transition: 0.2s;
}

.header a.active {
  color: red;
  border:1px solid red;
}

.header a.active:before {
  content: '';
}

.header a.active:after {
  content: '';
}

.header-right {
  float: right;
}

@media screen and (max-width: 768px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}



