@charset "UTF-8";
@font-face {
  font-family: proxima_nova;
  src: url("../resources/fonts/Proxima Nova Alt Light.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-weight: 300;
}

body {
  /*background-color: $secondary-color;*/
  color: #000;
  font-family: proxima_nova;
  counter-reset: section;
}

body.active {
  overflow: hidden !important;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .flex-c {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.t-c {
  text-align: center;
}

.width-1 {
  width: 10%;
}

.width-2 {
  width: 20%;
}

.width-3 {
  width: 30%;
}

.width-4 {
  width: 40%;
}

.width-5 {
  width: 50%;
}

.width-6 {
  width: 60%;
}

.width-7 {
  width: 70%;
}

.width-8 {
  width: 80%;
}

.width-9 {
  width: 90%;
}

.width-10 {
  width: 100%;
}

.checked {
  color: #c50000 !important;
  font-size: 2rem !important;
}

.separator {
  margin: 1rem 0;
  height: 1px;
  background-color: #737373;
}

@media screen and (min-width: 768px) {
  .center-view {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.table td,
.table th {
  border: 1px solid #d9d9d9;
  text-align: left;
}

.table th,
.table td {
  padding: 0.9375rem;
}

.table th {
  font-weight: 600 !important;
  font-size: 1.2rem;
}

.table a {
  color: #c50000;
}

noscript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: #c50000;
  color: #fff;
}

.highlight {
  color: #c50000;
}

.signature {
  text-align: right;
  margin-top: 1rem;
  font-weight: bold;
}

.input {
  width: 100% !important;
  height: 40px;
}

.mess-sent-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flag {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .flag {
    width: auto;
    height: auto;
  }
}

#splash-screen {
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: #c50000;
}

#splash-screen::before {
  content: "CNC Macro Simulator II";
}

#splash-screen > img {
  margin-top: 1rem;
}

.nav {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav--item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.nav__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.nav__name {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #c50000;
}

.nav__name::after {
  content: "CMS2";
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .nav__name::after {
    content: "CNC Macro Simulator II";
  }
}

.nav__links {
  margin-right: 0.5rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__links {
    display: block;
  }
}

.nav__links > a {
  color: #000;
  font-size: 1.125rem;
  margin: 0 0.3rem;
}

.nav__links > a:hover {
  color: #c50000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav .hamburger {
  margin-right: 1rem;
  cursor: pointer;
}

.nav .hamburger.active {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.nav .hamburger.active > div:first-child {
  -webkit-transform: rotate(45deg) translateX(7px);
          transform: rotate(45deg) translateX(7px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.nav .hamburger.active > div:nth-child(2) {
  opacity: 0;
}

.nav .hamburger.active > div:last-child {
  -webkit-transform: rotate(-45deg) translateX(7px);
          transform: rotate(-45deg) translateX(7px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.nav .hamburger:hover {
  opacity: 0.6;
}

.nav .hamburger > div {
  margin: 3px 0;
  background-color: #000;
  height: 2px;
  width: 20px;
}

@media screen and (min-width: 768px) {
  .nav .hamburger {
    display: none;
  }
}

.menu {
  z-index: 3;
  display: none;
  position: fixed;
  left: 50%;
  top: 3.5rem;
  width: calc(100% - 1rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  overflow: auto;
}

.menu > a {
  display: block;
  padding: 0.5rem;
  font-weight: 600;
  color: #000;
  font-size: 1.2rem;
  /*&:last-child {
      margin-top: 0.8rem !important;
    }*/
}

.menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-overlay {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.menu-overlay.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .hide-for-small {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .items__item {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .items__item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__links > a {
  color: #000;
  padding: 0.5rem;
  font-weight: 600;
}

.footer__links > a:hover {
  color: #c50000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__copy {
  margin-top: 0.5rem;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.footer__copy > a {
  color: #4d4d4d !important;
  font-size: 1rem;
}

.footer__copy > a:first-child {
  cursor: initial;
}

@media screen and (min-width: 768px) {
  .footer__links {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .footer__copy {
    margin-top: 0;
  }
}

.mobile {
  width: 16.075rem;
  height: 31.25rem;
  border-radius: 1.25rem;
  border: 0.625rem solid #000;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-2 {
  width: 19.075rem;
  height: 33.25rem;
}

.brands {
  background-color: #c50000;
  text-align: center;
}

.brands > h1 {
  color: gray;
  color: #fff;
  padding: 0rem 1rem;
}

@media screen and (min-width: 768px) {
  .brands {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  counter-reset: counter;
}

.section img {
  margin-top: 1rem;
}

.section > :first-child,
.section > :last-child {
  width: 100%;
}

.section > :first-child h1,
.section > :last-child h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: #c50000;
}

.section.r-o > :first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.section.r-o > :last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 768px) {
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section h1 {
    font-size: 4rem;
  }
  .section img {
    margin-top: 0rem;
  }
  .section > :first-child {
    width: 40%;
  }
  .section > :last-child {
    width: 50%;
  }
  .section.r-o > :first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section.r-o > :last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section.reversed > :first-child {
    width: 50%;
  }
  .section.reversed > :last-child {
    width: 40%;
  }
}

.section__bg-standard {
  background-color: #fff;
}

.section .counter {
  display: inline-block;
  margin-bottom: 1rem;
}

.section .counter::before {
  counter-increment: counter;
  content: counter(counter) ": ";
  color: #c50000;
  font-weight: 800;
}

.faq {
  min-height: 100vh;
  padding: 1rem;
  counter-reset: c;
}

.faq__title {
  color: #c50000;
}

.faq__question {
  margin-bottom: 0.5rem;
}

.faq__question::before {
  counter-increment: c;
  content: counter(c) ". ";
  color: #c50000;
}

.faq__answer {
  margin-bottom: 1rem;
  color: #737373;
  font-size: 1.2rem;
}

.faq__answer > a {
  color: #c50000;
}

@media screen and (min-width: 768px) {
  .faq {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .faq__title {
    text-align: left;
  }
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

.modal-window {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3125rem;
  z-index: 10;
}

.modal-window__link {
  cursor: pointer;
}

.modal-window__img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.article {
  min-height: 100vh;
  padding: 1rem;
  margin-top: 1rem;
  counter-reset: c;
  font-family: Arial, Helvetica, serif;
}

@media screen and (min-width: 768px) {
  .article {
    margin-top: 1rem;
  }
}

.article__img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0.5rem;
}

.article__title {
  color: #c50000;
}

.article__link {
  color: #c50000;
  display: block;
  font-size: 1.2rem;
  padding: 5px 0;
}

.article__subtitle {
  /*margin-top: 40px;*/
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  /*&::before{
      counter-increment: c;
      content: counter(c) ". ";
    }*/
}

.article__prefix {
  margin-left: 10px;
}

.article__prefix::before {
  content: '- ';
}

.article__counter {
  font-weight: 800;
}

.article__counter::before {
  counter-increment: section;
  content: counter(section) ". ";
}

.article__content {
  margin-bottom: 1rem;
  color: #404040;
  font-size: 1.2rem;
}

.article__content > a {
  color: #c50000;
}

.article__content > span {
  display: block;
}

@media screen and (min-width: 768px) {
  .article {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .article__title {
    text-align: left;
  }
}

.article--attantion-color {
  color: green;
}

.article--warning-color {
  color: #c50000;
  display: inline !important;
}

.article__list {
  color: #333333;
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 0.5rem;
}

.article__list li {
  margin: 5px 0;
}

.article__feature {
  color: #333333;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .article {
    width: 60% !important;
  }
}

.article--main {
  padding: 0rem;
}

.article--lathe {
  padding: 1rem;
}

.article--pricing {
  padding: 0rem;
}

@media screen and (min-width: 768px) {
  .article--main {
    padding: 1rem;
    width: 70% !important;
  }
  .article--lathe {
    padding: 1rem;
    width: 70% !important;
  }
  .article--pricing {
    padding: 1rem;
    width: 80% !important;
  }
}

.article__intro {
  color: #404040;
}

.article__intro > a {
  color: #c50000;
}

.article--important {
  font-weight: 800;
}

.message {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.message > a {
  font-weight: bold;
  text-decoration: underline;
}

.message--alert {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}

.message--alert > a {
  color: red;
}

.message--info {
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.2);
  color: green;
}

.message--info > a {
  color: green;
}

.message__header {
  font-size: 1.4rem;
  margin-bottom: 5px;
  font-weight: 800;
}

.main {
  /*&__list {
    &>li {
      color: $brand-color;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 800;
      list-style-type: none;
    }
  }*/
}

.main__title {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: calc(100% - 2rem);
  text-align: center;
  color: #c50000;
  margin-left: 1rem;
}

.main__product-text, .main__product-image {
  text-align: center;
  /*width: 100%;*/
  color: #fff;
}

.main__product-image > img {
  width: 100%;
  height: auto;
}

.main__product-text > h1,
.main__product-text > h3 {
  margin-bottom: 1rem;
}

.main__product-text > a {
  font-size: 1.125rem;
  padding: 0.2rem 2rem !important;
}

.main__product-text > h1 {
  font-weight: 800;
  color: #c50000;
  text-transform: capitalize;
}

.main__desc {
  font-weight: bold;
  font-size: 1.5rem;
  display: none;
}

.main__btn-container {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .main {
    width: 100%;
    height: 60vh !important;
    /*margin: 50px 0;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__product-image, .main__product-text {
    width: 50%;
  }
  .main__product-image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__product-image > img {
    width: 27.5rem;
    height: auto;
  }
  .main__desc {
    display: block;
  }
}

.movie {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url("../resources/lathe.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../resources/lathe.jpg");
  height: 50vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.controls {
  margin: 1rem;
  margin-top: 0;
  text-align: center;
  background-color: #c50000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.controls > .control {
  margin: 0 5px;
  font-size: 2rem;
  display: inline-block;
  color: #fff;
  padding: 5px;
}

.brand-color {
  color: #c50000;
}

.back-link {
  display: block;
  color: #c50000;
  margin-bottom: 1rem;
}

.back-link::before {
  content: '⇦ ';
}

.vid {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .vid {
    height: 500px;
  }
  .vid--small {
    height: 200px;
  }
}

.btn {
  padding: 0.4rem 2rem !important;
  border-radius: 1.2rem;
  max-width: 400px;
}

.btn-brand-color {
  border: 1px solid #c50000;
  color: #c50000 !important;
  font-weight: 600;
}

.btn--read-more {
  display: inline-block;
  margin-top: 1rem;
}

.btn--reverse {
  border: 1px solid #c50000;
  background-color: #c50000;
  color: #f1f1f1;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
  border-radius: 1rem;
  background-color: #fff;
}

th, td {
  text-align: left;
  padding: 16px;
  font-size: 22px;
}

.img {
  border-radius: 20px;
  max-width: 500px;
  height: auto;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1rem;
  width: calc(100% - 10px);
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .box {
    width: 400px;
  }
}

.code-view {
  background-color: #1E2127;
  color: cyan;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: block;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*&--pricing{
    align-items: stretch
  }*/
}

@media screen and (min-width: 768px) {
  .cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.5rem;
  }
}

.cards__center-title {
  text-align: center;
}

.card {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.card__title {
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #c50000;
}

.card__content {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333333;
  position: relative;
}

.card__img {
  width: 100%;
  max-height: 450px;
  border-radius: 5px;
}

.card__img-full {
  width: calc(100% - 2rem);
  height: auto;
  margin-left: 1rem;
}

.card--pricing {
  border: 1px solid #c50000;
  text-align: center;
  border-radius: 5px;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .card {
    width: 33.333%;
  }
  .card__img {
    width: 100%;
    max-height: 180px;
  }
  .card__img-full {
    width: calc(100% - 2rem);
    height: auto;
  }
  .card--pricing {
    margin: 0.5rem;
    width: 25%;
  }
  .card__content {
    font-size: 1rem;
  }
}

.card__read-more {
  display: inline-block;
  margin-top: 1rem;
  color: #c50000;
}

.card--device {
  color: #c50000;
  font-weight: 800;
  font-size: 1.5rem;
}

.contact {
  text-align: right !important;
}

.contact input {
  height: 30px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border: 1px solid #c50000;
  font-size: 1rem;
}

.contact textarea {
  resize: none;
}

.contact button {
  background-color: #c50000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
}

.banner {
  width: calc(100% - 2rem);
  margin: 1rem;
  text-align: center;
  border-radius: 2.5rem;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.banner__demo {
  background-color: #c50000;
}

.banner__demo::after {
  content: 'Need a demo version? Click me!';
}

.banner__lathe {
  background-color: #37aadb;
}

.banner__lathe::after {
  content: 'Need a lathe version? Click me!';
}

.banner__buy {
  background-color: #c50000;
}

.banner__buy::after {
  content: 'Don\'t wait and get it now!';
}

.banner:hover {
  background-color: #ffc43c;
}

.banner--full {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.list {
  font-size: 1.2rem;
  margin-left: 1rem;
  list-style-type: none;
}

.list--nice {
  color: #404040;
  font-size: 1.2rem;
}

.list > li {
  color: #333333;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333333;
  width: calc(100% - 1rem);
}

.list > li > span {
  color: #000;
}

.list > li::before {
  content: '⇨ ';
  color: #c50000;
  font-size: 1.2rem;
}

.list--full {
  margin-left: 0;
}

.list--full > li {
  width: 100%;
}

.new {
  position: absolute;
  right: 5px;
  top: -10px;
  padding: 5px 10px;
  border-radius: 1rem;
  color: #fff;
  background-color: #c50000;
}

.new::after {
  content: 'New';
}

.new--small {
  right: 0;
  top: -2px;
  display: inline-block;
  position: relative;
  font-size: 0.7rem;
  margin-left: 5px;
  padding: 3px 8px;
}

.gallery {
  overflow: auto;
  white-space: nowrap;
  position: relative;
}

.gallery > img {
  width: 650px;
  height: auto;
  border-radius: 5px;
  margin-right: 1rem;
}

.sell-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  /*@include media-md {
    flex-direction: row;
  }*/
}

.sell-container .price {
  font-size: 2.5rem;
  margin-right: 0;
  margin-bottom: 1rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-view {
  padding: 1rem;
}

.table-view__title {
  margin-bottom: 1rem;
  text-align: center;
}

.table-view > table td {
  font-size: 1rem;
}

.price__container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .price__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.price__subcontainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  text-align: center;
  border: 2px solid #000;
}

.price__subcontainer--left {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .price__subcontainer {
    width: 50%;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: auto;
  }
  .price__subcontainer--left {
    border-right: 2px solid #000;
  }
}

.price__value {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 10px;
  color: #c50000;
}
/*# sourceMappingURL=main.css.map */