
.card {
  text-align: center;
  background-color: #fff;
}

.free{
  border: 8px solid #576A87;
  color: #576A87;
}

.free h2{
   color: #576A87;
 }

.paid{
  border: 8px solid #C53926;
  color: #C53926;
}

.paid h2{
  color: #C53926;
}

.card img{
  height: 100px;
  width: 200px;
  display: inline;
}

.card p{
  font-size: 45px !important;
}
