
.card {
  text-align: center;
  background-color: #fff;
}

.free{
  border: 8px solid #576A87;
  color: #576A87;
}

.free h3{
   color: #576A87;
   padding:5px 0px;
}

.paid{
  border: 8px solid #C53926;
  color: #C53926;
}

.paid h3{
  color: #C53926;
  padding:5px 0px;
}

.card img{
  height: 100px;
  width: 200px;
  display: inline;
}

.card p{
  font-size: 45px !important;
}
