
*{
  box-sizing: border-box;
}

html,
body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

.column {
  float: left;
  padding: 0 10px;
}

.col-full{
  width: 100%;
}

.col-large{
  width: 75%;
}

.col-medium{
  width: 50%;
}

.col-small{
  width: 33.333%;
}

.col-tiny{
  width: 25%;
}

.row {
  margin: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.desciption-container{
  padding: 20px;
}

.large-font{
  font-size: 40px !important;
}

.large-font p{
  font-size: 20px !important;
}

.image-box{
  padding: 10px;
}

.module{
  text-align: center;
  margin-top: 100px;
  padding: 10px 0px;
}

.module .title{
  font-size: 40px;
}

#pricing{
  text-align: center;
}

a{
  text-decoration: none;
  color:dodgerBlue;
}

  
